# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# NIM_API_KEY_1: Primary NVIDIA NIM API key.
NIM_API_KEY_1="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"
# NIM_API_KEY_2: Secondary NVIDIA NIM API key (failover).
NIM_API_KEY_2="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"
# NIM_API_KEY_3: Tertiary NVIDIA NIM API key (failover).
NIM_API_KEY_3="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"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
